<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/mvc">
<head>
	<meta charset="UTF-8" />

	<link href="../bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" charset="utf-8"/>

	<script src="../jquery/jquery-2.2.3.min.js"></script>
	<script src="../bootstrap-3.3.7-dist/js/bootstrap.js"></script>

	<style>

	</style>
</head>

<body>
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<a class="navbar-brand" href="/index">southDoor</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="active"><a href="/urllist">url</a></li>
				<li><a href="/proxylist" id="add-url-button">proxy</a></li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>

<div class="container">
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="col-lg-12" id="page-content">
					<div>proxy list</div>
				</div><!-- /.col-lg-12 -->
			</div>
		</div><!-- .panel -->
	</div><!-- .row -->
</div><!-- .container-fluid -->

<script src="../js/common.js"></script>
<script th:inline="JavaScript">
	/*<![CDATA[*/

	/*]]>*/
</script>
</body>
</html>
